*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.sass-cache
*.DS_Store
.idea/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
$RECYCLE.BIN/

platforms/
plugins/
node_modules/
www/Static/Vendors
hooks/
